<%#TODO Add ng-app to the following div <div ng-app> %>
<div>
  <%#TODO Change the following h1 to look like: <h1>My name is {{ name }}</h1> %>
  <h1>Test: {{ 1 + 1 }}</h1>
  <%#TODO Add ng-model='name' to the input element: <input ng-model='name'> %>
  <input placeholder='Bob'>
</div>
