<%# TODO: Add the ng-app='app' directive%>
<%# TODO: Add ng-controller='listCtrl' to the same div: <div ng-app="app" ng-controller='listCtrl'> %>
<%# TODO: Continue from app/assets/javascripts/list/tasks.js %>

<div>
  <h2>TODO</h2>

  <form>
    <input>
    <button class='btn btn-default'>Add</button>
  </form>

  <ul class='list-unstyled'>
    <li>Add the ng-app='app' directive</li>
    <li>Add ng-controller='listCtrl' to the same div: &lt;div ng-app="app" ng-controller='listCtrl'&gt;</li>
    <li>Continue from app/assets/javascripts/list/tasks.js</li>
  </ul>

</div>
